<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="static/layer/theme/default/layer.css"/>
		<link rel="stylesheet" href="static/css/index.css" />
		<script type="text/javascript" src="static/js/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="static/layer/layer.js"></script>
	</head>
	<body>
		<div class="container">
			<!--标题-->
			<div class="titleBox">
				<div>
					<img src="static/img/titleIcon.png"/>
				</div>
				<div>
					<span>协议模糊测试</span>
				</div>
			</div>
			<div class="accountBox">
			  <span class="account"></span>
			</div>
			<!--内容-->
			<div>
				<div class="inputBox">
					<div>
						<span class="circle-icon"></span>
						<span class="inputtilte">协议选择：</span>
					</div>
					<div id="selectBox" class="selectBox"></div>
				</div>
				<div class="inputBox">
					<div>
						<span class="circle-icon"></span>
						<span class="inputtilte">任务名称：</span>
					</div>
					<input class="inputText taskname"/>
				</div>
				<div class="inputBox">
					<div>
						<span class="circle-icon"></span>
						<span class="inputtilte">目标ip：</span>
					</div>
					<input class="inputText targetip"/>
				</div>
				<div class="inputBox">
					<div>
						<span class="circle-icon"></span>
						<span class="inputtilte ">协议端口：</span>
					</div>
					<input class="inputText dport"/>
				</div>
				<div class="inputBox">
					<div>
						<span class="circle-icon"></span>
						<span class="inputtilte">协议参数设置：</span>
					</div>
					<textarea class="param inputText"></textarea>
				</div>
				<div class="btnsBox">
					<div class="startBtn">
						<img src="static/img/daochufffpx.png" />
						<button>创建任务</button>
					</div>
					<div class="resBtn">
						<img src="static/img/daochufffpx.png" />
						<button>查看结果</button>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="static/js/index.js">
		</script>
	</body>
</html>
