<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>任务结果</title>
		<link rel="stylesheet" href="static/layui/css/layui.css">
		<link rel="stylesheet" href="static/css/index2.css"/>
		<script src="static/layui/layui.js"></script>
		<script src="static/js/jQuery3.4.1.min.js"></script>
	</head>
	<body>
		<div id="main">
			<div class="btn-box">
				<button id="return-back">返回首页</button>
				<button id="add-task">新建任务</button>
			</div>
			<div class="table-box">
				<table id="task" lay-filter="task"></table>
				<div id="page"></div>
			</div>
		</div>
		<script src="static/js/preload.js"></script>
		<script src="static/js/index2.js"></script>
		<script type="text/html" id="barDemo">
		  <a src="javascript:;" lay-event="show" style="color: #0CA7E3;">查看结果</span>
		</script>
	</body>
</html>
